html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $primary-white-color;
  color: $primary-text-color;
  font-family: $font-main, sans-serif;
  letter-spacing: 0.03em;
}

h2, h3 {
  color: $title-text-color;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
